In [ ]:
import pandas as pd
import numpy as np

Esercizio Abbiamo una lista di liste: mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]] Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare? **struttura dati: rapresenta una tabella 3x5 ovvero, 3 righe per 5 colonne. Per 'pescare' un elemento di questa tabella possiamo fare la funzione: 
mat[riga][colonna] "ATTENZIONE: il conteggio inizia sempre da 0**

In [ ]:
mat = [[0, 1, 2, 3, 4], 
       [5, 6, 7, 8, 9],
       [10, 11, 12, 13, 14]]

#uso la funzione in markdown per prendere alcuni elementi:
print(mat[2][3]) #prendo elemento in riga 3 colonna 4, il numero 7
print(mat[0][2])  #prendo il dato '2'
print(mat[1][4]) #prendi il dato '9'

Esercizio Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial() e la variabile .pi la riconoscete?

In [ ]:
import math

print(math.sin(45)) #trovo il seno di un angolo in radianti
print(math.cos(60)) #trovo il coseno di un angolo in radianti
print(math.factorial(10)) #trova il fattoriale
print(math.pi) #utilizzo del pi greco

#le funzioni usano i radianti, se nel caso si vuole usare i gradi bisogna convertirli

Esercizio Proviamo a eseguire math.degrees(math.pi) Qual è e cosa significa il risultato? Per saperne di più su questa funzione possiamo usare help(math.degrees)

In [ ]:
print(math.pi) #questa funzione restituisce il valore di pi greco
help(math.degrees) #convertire radianti in gradi

math.degrees(math.pi)

Esercizio L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] trasformiamola in un array NumPy (casting): lst = np.array(lst) e rispondiamo alle domande del CEO della Object SpA: • qual è stata la vendita massima mensile? E quella minima? • quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? • quali sono le vendite minori di 3000 oggetti?

In [ ]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)

vendita_massima = max(lst)
vendita_minima = min(lst)

print(f"la vendita massima e': {vendita_massima}")
print(f"la vendita minima e': {vendita_minima}")

In [ ]:
vendite_maggiori = lst[lst > 4999]
quantita_vendite = vendite_maggiori.size

print("vendite maggiori di 4999:",vendite_maggiori)
print("quantita:",quantita_vendite)

In [ ]:
vendite_minori = lst[lst < 3000]
quante_minori = vendite_minori.size

print("vnedite minori di 3000:", vendite_minori)
print("quantita:", quante_minori)

Esercizio Consideriamo il seguente dizionario: fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} Consideriamo ora la seguente Series: fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005)) Possiamo accedere alle stesse informazioni nello stesso modo: fatturati_dict[1997] fatturati_series[1997] Dunque qual è la differenza tra i due tipi di dato?

In [ ]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

print(fatturati_dict[1997])
print(fatturati_series[1997])

**Entrambe associano una chiave a un valore ovvero anno a fatturato, entrambe utilizzano anche lo stesso construtto per 'pescare' un dato risultato** *ma la differenza e' che dizionario e' un semplice construtto (metodo di python) che utilizza chiave per associare un valore, ma pandas e' uno strummento di libreria avanzato che per l'analise dati permette di fare analise piu facilmente usando i dati per creare addirittura soluzioni visibili come graffici e puo essere convertita in un dataframe (tabella come in excel) per l'analise avanzata*

Esercizio L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: import numpy as np stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: • con un ciclo for e masking **il masking e' utilizzato per fare operazione solo con alcuni dati dentro una lista, con la lista intera l'ideale e' utilizzare il for, esso transforma i dati in booleano**

In [ ]:
stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )
stipendi_rad = [] #lista vuota per essere riempita con gli stipendi raddopiati

for stipendio in stipendi:
    stipendi_rad.append(stipendio * 2)


stipendi_rad = np.array(stipendi_rad)
print("Stipendi raddopiati:", stipendi_rad)


mask = (stipendi > 300) & (stipendi < 900)
print(mask)
print(stipendi[mask])

stipendi[mask] = stipendi[mask] * 2 #stipendi mask raddopiati
print("stipendi raddopiati:", stipendi,"hai raddopiato solo gli stipendi nel range scelto") #ha raddopiato in output solo gli stipendi nel 'range' del mask

In [1]:
numeri = [1,1,8,9,11,7,3,4,5,6]
n = 3

lista_unica = list(set(numeri))

if len(lista_unica)<n:
    print(lista_unica)
else:
    piu_grandi = sorted(lista_unica, reverse=True)[:n]
    print(piu_grandi)

[11, 9, 8]

In [ ]:
import numpy as np

dati = [10,3,5,2,4,6,7,8,23,656,4,234,6,5,34,32,978,33]
K = 30

dati = np.array(dati)
filtro = dati >= K
media = dati[filtro].mean()
media = round(media , 2)

print("la media e':",media)

In [3]:
numeri = [5, 4, 8]
for numero in numeri:
    print(numero*"*")

*****
****
********

In [9]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D",
            "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
nuovi_cf = []
for cod in lista_cf:
    if "95" in cod:
        nuovi_cf.append(cod)

print(nuovi_cf)

for cod in lista_cf:
    print(f"{cod[0:3]} = Nome, {cod[3:6]} = cognome")

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']
ABC = Nome, DEF = cognome
GHI = Nome, JKL = cognome
MNO = Nome, PQR = cognome
STU = Nome, VWX = cognome
XYZ = Nome, ABC = cognome
DEF = Nome, GHI = cognome

In [12]:
studenti = ["Alex", "Bob", "Cindy", "Dan",
            "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend",
         "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

for studente,edizione in zip(studenti,edizioni):
    if edizione == 1:
        print(studente)

Alex
Faith

In [15]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
prezzi_giusti = []

for prezzo in prezzi:
    if "€" in prezzo:
        prezzo_corretto = prezzo.replace("€","$")
        prezzi_giusti.append(prezzo_corretto)


print(prezzi_giusti)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [16]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

squadra1 = studenti[::2]
squadra2 = studenti[1::2]

print(squadra1)
print(squadra2)

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [17]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

for i in range(len(guadagni)):
    guadagno_attuale = guadagni[i]
    if i == 0:
        print(f"mese {i+1}: {guadagno_attuale} €")
    else:
        media_precedenti = sum(guadagni[:i]) / i
        if guadagno_attuale > media_precedenti:
            confronto = "maggiore"
        elif guadagno_attuale < media_precedenti:
            confronto = "minore"
        else:
            confronto = "uguale"

        print(f"Mese {i+1}: {guadagno_attuale} € (media prec: {media_precedenti:.2f} € - il guadagno attuale è {confronto})")

mese 1: 100 €
Mese 2: 90 € (media prec: 100.00 € - il guadagno attuale è minore)
Mese 3: 70 € (media prec: 95.00 € - il guadagno attuale è minore)
Mese 4: 40 € (media prec: 86.67 € - il guadagno attuale è minore)
Mese 5: 50 € (media prec: 75.00 € - il guadagno attuale è minore)
Mese 6: 80 € (media prec: 70.00 € - il guadagno attuale è maggiore)
Mese 7: 90 € (media prec: 71.67 € - il guadagno attuale è maggiore)
Mese 8: 120 € (media prec: 74.29 € - il guadagno attuale è maggiore)
Mese 9: 80 € (media prec: 80.00 € - il guadagno attuale è uguale)
Mese 10: 20 € (media prec: 80.00 € - il guadagno attuale è minore)
Mese 11: 50 € (media prec: 74.00 € - il guadagno attuale è minore)
Mese 12: 50 € (media prec: 71.82 € - il guadagno attuale è minore)